
@{
    ViewBag.Title = "Change Password";
}

<div class="container bg-login rounded shadow w-25 mb-3">
    <div class="row justify-content-center align-items-stretch">
        <div class="col bg-white p-5 rounded-end">
            <div class="text-center">
                <img src="~/Resources/Images/favicon.ico" class="fa-rotate-90" width="48" alt="Logo" />
            </div>
            <h2 class="fw-bold text-center">Change Password</h2>
            <form class="needs-validation" method="post" action="@Url.Action("UpdatePassword", "Access", new { User = Request.Params["User"], Token = Request.Params["Token"] })" novalidate>
                <div class="mb-4">
                    <label for="password" class="form-label green-light-text mt-3">Password:</label>
                    <input type="password" class="form-control rounded shadow-sm mb-3" name="password" id="password" required>
                    <div class="invalid-feedback">
                        Please input password
                    </div>
                    <label for="rePassword" class="form-label green-light-text mt-3">Confirm your password:</label>
                    <input type="password" class="form-control rounded shadow-sm mb-3" name="rePassword" id="rePassword" required>
                    <div class="invalid-feedback" id="feedback">
                        Please confirm your password
                    </div>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn bg-green button-hover rounded shadow-sm text-white">
                        <i class="fa-solid fa-paper-plane"></i> Send
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var forms = $(".needs-validation");

            if ("@TempData["Errors"]" != "") {
                new Toast({
                    message: "@TempData["Errors"]",
                    type: "danger"
                });
            }

            $.each(forms, function (_, form) {
                $(form).on("submit", function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    if ($("#password").val() != $("#rePassword").val()) {
                        event.preventDefault();
                        event.stopPropagation();
                        new Toast({
                            message: "The password does not match",
                            type: "warning"
                        });
                    }
                    $(form).addClass("was-validated");
                });
            });
        });
    </script>
}

